.marks-div-car{
    text-align: center;
    padding-top: 30px;
}


.marks-div-car h3{
    font-size: 30px;
    margin-top: 150px;
    text-align: center;
}

.buttons-car{
    margin-left: 300px;
    margin-top: 280px;
}


