.marks-div-food{
    text-align: center;
    padding-top: 30px;
}


.marks-div-food h3{
    font-size: 30px;
    margin-top: 150px;
    text-align: center;
}


.buttons-food{
    margin-left: 290px;
    margin-top: 280px;
}

