.main-food-content{
    background-color: #2f3031;
    height: 650px;
    width: 700px;
    border-radius: 25px;
    margin-top: 60px;
    margin-left: 290px;
}

.food-quiz-content{

    text-align: center;
    margin-top: 100px;
}


.quiz-counter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 125px;
    padding-top: 20px;
}

.quiz-counter .quiz-count{
    margin-right: 150px;
}

.food-quiz-answers-grid{
    margin-top: 40px;
}

.button-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 79px;
}


.button-section .prev-btn button{
    margin-right: 40px;
}