.marks-div-sports{
    text-align: center;
    padding-top: 30px;
}


.marks-div-sports h3{
    font-size: 30px;
    margin-top: 150px;
    text-align: center;
}


.buttons-sport{
    margin-left: 240px;
    margin-top: 280px;
}